<header>
        <div class="container-fluid nav">
            <ul>
                <div class="home"> <a href="#/home"><li style="float: left;">Home</li></a></div>
                <div class="help"> <a><li>Help</li></a></div>
                <div class="blog"> <a href="#/blog-post"><li>Blog</li></a></div>
                <div class="projects"> <a href="#/projects"><li>Projects</li></a></div>
                <div class="post"> <a href="#/post"><li>New Post</li></a></div>
            </ul>
        </div>
    </header>   