<style>
    .postings {
        border: solid black;
        padding: 1em;
        text-align: center;
    }
    .submit {
        text-align: center;
        padding: 5px;
    }
</style>

<br>

<div class="container">
    <div class="row postings">
        <div class="col-md-12">
            <div class="col-md-4">Title<br>
                <input type="text">
            </div>
            <div class="col-md-4">Decription<br>
                <input type="text">
            </div>
            <div class="col-md-4">Category<br>
                <input type="text">
            </div>
        </div>
    </div>
    <div class="row textbox">
        <div class="col-md-12">
            <textarea rows ="10" cols ="30" name="commentContent"></textarea>
        </div>
    </div>
   <div class="submit"> <button class="btn submit">Submit</button></div>
    
    
</div>