<div class="jumbotron">
    
</div>

<div class="conatiner" style="text-align:center">
<div class="row">
    <div class="col-md-3"> 
       <a href="#/movies"> <img src="view/images/theater-rewards-oj.svg" height="250px" class="img-circle"> </a>
    </div>
    
    <div class="col-md-3"> 
        <a href="#/games"> <img src="view/images/games.png" height="250px" width="250px" class="img-circle"> </a>
    </div>
    
    <div class="col-md-3"> 
        <a href="#/shows"> <img src="view/images/tv.png" height="250px" class="img-circle"> </a>
    </div>
    <div class="col-md-3"> 
        <a href="#/stuff"> <img src="view/images/cool-stuff.jpeg" height="250px" class="img-circle"> </a>
    </div>
</div>
</div> 