<style>
    .box {
        background-color: white;
        border: solid #cccccc 2px;
        height: 150px;
        padding: 1em;
    }
    .dec {
        text-align: right; 
    }
    .pic {
        text-align: center;
        height: 60px;
    }
    img {
        height: 120px;
        width: 190px;
    }
    
</style>
<br>
<section class="temp">
    <div class="container">

    <div class="row">
        <div class="col-md-4 box">
            <div class="row">
                <div class="col-md-6 pic">adsf</div>
                <div class="col-md-6 dec">adsf</div>
            </div>
        </div>
        
        <div class="col-md-4 box">
            <div class="row">
                    <div class="col-md-6 pic"> <img src="http://apod.nasa.gov/apod/image/1512/20151221LulworthCove-reKotsiopoulos.jpg" >
                </div>
                    <div class="col-md-6 dec">adsf</div>
                </div>
            </div>
        <div class="col-md-4 box">
            <div class="row">
                <div class="col-md-6 pic">adsf</div>
                <div class="col-md-6 dec">adsf</div>
            </div>
        </div>
    </div>
        
    </div>
</section>
<br>