<style>
    .top img {
        height: 250px;
        width: 250px;
        padding-top: 1em;
        background: grey;
        text-align: center;
    }
    .abouts hr {
        border: solid white 2px;
    }
    .abouts p {
        font-size: 18px;
    }
    .contacts {
        text-align: center;
    }
    .jumbotron h1 {
        text-align: center;
        color: white;
    }
</style>


<div class="jumbotron">
    <br><br>
    <h1>ZachTheBrown.com </h1>
</div>

<div class="conatiner top" style="text-align:center">
<div class="row">
    <div class="col-md-3"> 
        <h1>Movies</h1>
       <a href="#/movies"> <img src="http://us.123rf.com/450wm/konstantinks/konstantinks1411/konstantinks141100468/33816780-video-camera-button-on-white-background-vector-illustration.jpg" height="250px" class="img-circle"> </a>
    </div>
    
    <div class="col-md-3"> 
        <h1>Games</h1>
        <a href="#/games"> <img src="http://us.123rf.com/450wm/myvector/myvector1201/myvector120103445/12124553-vector-illustration-of-single-isolated-video-game-icon.jpg" height="250px" width="250px" class="img-circle"> </a>
    </div>
    
    <div class="col-md-3"> 
        <h1>T.V</h1>
        <a href="#/shows"> <img src="http://previews.123rf.com/images/mousemd/mousemd1405/mousemd140500449/28769332-Illustration-of-retro-tv-Stock-Vector-tv.jpg" height="250px" class="img-circle"> </a>
    </div>
    <div class="col-md-3">
        <h1>Cool Stuff</h1>
        <a href="#/stuff"> <img src="http://previews.123rf.com/images/ramcreative/ramcreative1502/ramcreative150200024/37178408-Interaction-hands-using-keyboard-and-mobile-applications-on-screen-Internet-analytics-work-in-networ-Stock-Vector.jpg" height="250px" class="img-circle"> </a>
    </div>
</div>
</div>

<section class="abouts">
    <div class="container">
    <hr>
        <div class="row">
            <div class="col-md-9">
                <br>
                <br>
                <p>
                Hello there, I am Zachary (Zach) Brown. I'm a student at coding campus studying front-end web development. I'm a big gamer and I play everything from turn based strategy games, to Mario games. I made this site for a few reasons, <br>
                    1: I needed a place to put my projects and coding experiance. <br>
                    2: I consume a lot of content online and find a lot of it funny. Maybe you will too!<br><br>
                Thanks for stoping by my little corner of the internet! :D
                </p>
            </div>
            
            <div class="col-md-3">
                <img src="https://scontent.fsnc1-1.fna.fbcdn.net/hphotos-xpa1/t31.0-8/p960x960/11221910_1083673064993601_7579802498537884992_o.jpg" height="300px" class="img-circle">
            </div>
        </div>
    <hr>
        
<div class="row contacts">
    <div class="col-md-4">
        <h1>Linkedin</h1>
        <a href="https://www.linkedin.com/in/zach-brown-1b5a88b2?trk=nav_responsive_tab_profile_pic" target="_blank">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/768px-LinkedIn_logo_initials.png" height="200px">
        </a>
    </div>
    <div class="col-md-4">
        <h1>Facebook</h1>
        <a href="https://www.facebook.com/zack.brown.980" target="_blank">
        <img src="https://www.facebookbrand.com/img/fb-art.jpg">
        </a>    
    </div>
    <div class="col-md-4">
        <h1>GitHub</h1>
        <a href="github.com/zbrown17">
            <img src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png" height="200px" style="border-radius:25px;">
        </a>
    </div>
</div>        
        
    </div>
</section>
